/* header */
.col-md-2 senseiPic {
	align: center;
}

#senseiPic img {
	width: 70%;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 991px) {
	#senseiPic img {
		max-width: 20%;
		min-width: 15%;
	}
}

@media screen and (max-width: 767px) {
	#senseiPic img {
		max-width: 15%;
		min-width: 10%;
	}
}

@media screen and (max-width: 479px) {
	#senseiPic img {
		max-width: 10%;
		min-width: 5%;
	}
}

#mottoContainer {
	
}

#senseiTitle h1 {
	font-size: 100px;
}

#sensaiMotto {
	font-style: italic;
	font-weight: bold;
	text-align: right;
}

.glyphicon {
	font-size: 34px;
}

.iconContainer {
	text-align: right;
}

input[type=submit] {
	background-color: #bab758;
	font-weight: bold;
	align-item: right;
}

input[type=submit]:hover {
	background-color: #7d7b3b;
	color: #ffffff;
	font-weight: bold;
	align-item: right;
}

#navSearchBar {
	text-align: right;
	vertical-align: middle;
}

/* home */

div.homeTitleBar {
	backgroud-color:#f4f3f4;
}

h1.senseiHomeTitle {
	font-size: 48px;
}

div.senseiPicHome {
	width: 100%;
	align-items: center	
}

div.senseiMottoHome {
	font-size: 32px; 
	text-align: right;
	padding-top: 20px;
}

div.signupContainer {
	padding-top: 35px;
}

/* /* footer */
#icons {
	font-size: 14px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

#copyright {
	font-size: 14px;
	text-align: right !important;
}

#senseiMottoFooter {
	text-align: left;
	font-size: 24px;
}

* /
	/* profile modal */ 

.updateButton {
	background-color: #bab758 !important;
	color: #000000 !important;
	font-weight: bold !important;
	align-text: center !important;
}

/* profile page info */
#profilePic {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 50%;
	border-width: 10px;
	border-style: outset;
	border-color: #bab758;
}

#profilePic img {
	width: auto;
	height: 100%;
	margin-left: -45%;
}

@media screen and (max-width: 991px) {
	.profilePic {
		max-width: 50%;
		min-width: 40%;
	}
}

@media screen and (max-width: 767px) {
	.profilePic {
		max-width: 40%;
		min-width: 30%;
	}
}

@media screen and (max-width: 479px) {
	.profilePic {
		max-width: 30%;
		min-width: 20%;
	}
}

}
.profileName {
	font-size: 42px;
}

.userSections {
	display: flex;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-style: outset;
	border-color: #bab758;
	border-radius: 5px;
	margin-bottom: 2px;
	background-color: #f7f7f7;
}

.userInfoLabels {
	padding-right: 15px;
	min-width: 130px;
	font-size: 16px;
}

.bioRow {
	padding-bottom: 30px;
}

.classSections {
	align-items: center;
	padding: 20px;
	border-width: 1px;
	border-style: outset;
	border-color: #bab758;
	user-select: none;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 2px;
	background-color: #eaeaea;
}

.classInfoLabels {
	padding-right: 15px;
	min-width: 75px;
}

#classContent {
	padding: 0;
	min-height: 50px;
}

a {
	text-decoration: none !important;
}
.updateButton